.product-cart {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product-cart img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info {
    margin-left: 14px;
}

.product-info p {
    margin: 0;
    margin-bottom: 10px;
}

.cart-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #1f1f1f;
    background: #FFE0B3;
    padding: 8px 0;
    border: none;
    border-radius: 0px 0px 8px 8px;
}